// Color

$color-tetli-text: #212121;
$color-accent: #2196f3;
$color-primary-white: #ffffff;
$color-primary-text: #757575;
$color-copyright-text: rgba(255, 255, 255, 0.6);
$color-bg-box-card: #f5f4fa;
$color-border-image: #afb1b8;
$color-bg-footer: #2f303a;
$color-bg-footer-button: rgba(255, 255, 255, 0.1);
$color-border-examples: #eeeeee;
$color-bg-robots-cart: rgba(47, 48, 58, 0.8);
$color-hr: #ececec;
$color-br-footer-mail: rgba(255, 255, 255, 0.3);
$color-bg-cart: rgba(33, 150, 243, 0.9);
$color-bg-modal: rgba(0, 0, 0, 0.2);
$color-br-exit: rgba(0, 0, 0, 0.1);
$color-br-modal: rgba(33, 33, 33, 0.2);
$color-black-title: #000000;

// cubic-bezier

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
